@model FilmOverflow.WebUI.ViewModels.TicketViewModel

@{
	ViewBag.Title = "Buy Ticket";
}

<h2 class="text-center">
	@ViewBag.Title
</h2>

	@Html.HiddenFor(model => model.PaymentDate)
	@Html.HiddenFor(model => model.ApplicationUserId)
	@Html.HiddenFor(model => model.SeanceId, new { data_id = ViewBag.SeanceId })

<div data-bind="foreach: Seats" class="hall col-md-offset-2">
	<span data-bind="css: { deselected: !$root.isSeatSelected($data), selected: $root.isSeatSelected($data), reserved: !$root.isSeatSelected($data) && $root.isSeatReserved($data)},
						click: $root.toogleSeatStatus,
						style:{top: $data.RowNumber()*39+'px', left: $data.ColumnNumber()*35+'px'}" class="seat fa fa-user fa-2x">

	</span>
</div>

<div data-bind="fadeVisible: PaymentMethodsVisable()" class="form-group fixedInput">
	<div class="col-md-10">
		@Html.DropDownList("PaymentMethodId", (IEnumerable<SelectListItem>)ViewBag.PaymentMethods, "--Select payment method--", new { @class = "form-control" })
	</div>
</div>		

<div data-bind="visible:NumberOfSelectedSeats > 0, text: NumberOfSelectedSeats"></div>	 

<aside>
	@Html.ActionLink(" ", "Index", "Ticket", null, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to tickets" })
</aside>

@section Scripts {
	<script src="~/signalr/hubs"></script>	 
<script src="~/Scripts/knockout-app/Ticket/CustomBindings.js"></script>
	<script src="~/Scripts/knockout-app/Ticket/koModels.js"></script>
	<script src="~/Scripts/knockout-app/Ticket/app.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
}