@model FilmOverflow.WebUI.ViewModels.TicketViewModel

@{
	ViewBag.Title = "Buy Ticket";
}

<h2 class="text-center">
	@ViewBag.Title
</h2>


<div class="well well-lg">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			@Html.ValidationSummary(true, "", new {@class = "text-danger"})
			@Html.HiddenFor(model => model.PaymentDate)
			@Html.HiddenFor(model => model.ApplicationUserId)
			@Html.HiddenFor(model => model.SeanceId, new {data_id = ViewBag.SeanceId})

			<div class=" form-control">
				@Html.LabelFor(model => model.PaymentMethodId, htmlAttributes: new {@class = "font-bordered control-label col-md-2"})
				<div class="col-md-10">
					@Html.DropDownList("PaymentMethodId", (IEnumerable<SelectListItem>) ViewBag.PaymentMethods, "--Select payment method--")
					@Html.ValidationMessageFor(model => model.PaymentMethodId, "", new {@class = "text-danger"})
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</div>
		</div>
	}
</div> 

<div id="test"></div>  

<aside>
	@Html.ActionLink(" ", "Index", "Ticket", null, new {@class = "fa fa-caret-left fa-4x back-nav", title = "Back to tickets"})
</aside>

@section Scripts {
	<script src="~/signalr/hubs"></script>
	<script src="~/SignalR/signalR.Seance.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
}