@model FilmOverflow.WebUI.ViewModels.TicketViewModel

@{
	ViewBag.Title = "Buy Ticket";
	int columnAmount = ViewBag.Hall.ColumnAmount;
	int rowAmount = ViewBag.Hall.RowAmount;
}

<h2 class="text-center">
	@ViewBag.Title
</h2>


@{ Html.RenderAction("Details", "Seance", new { seanceId = ViewBag.SeanceId, isCommon = true }); }
@Html.HiddenFor(model => model.SeanceId, new { data_id = ViewBag.SeanceId })
<div data-bind="visible: !IsProcessing()">
	
	<div data-bind="foreach: Seats,
		 style:{width: @columnAmount*23+33+'px',height: @rowAmount*25+45+'px'},
		 css: {hall: $root.Seats().length}" class="col-md-offset-2">

		<span data-bind="css: { deselected: !$root.isSeatSelected($data), selected: $root.isSeatSelected($data), reserved: !$root.isSeatSelected($data) && $root.isSeatReserved($data)},
						click: $root.toogleSeatStatus,
						style:{top: $data.RowNumber()*26+'px', left: $data.ColumnNumber()*23+'px'}" class="seat fa fa-user">

		</span>
	</div>


	<div class="well-lg" data-bind="visible:NumberOfSelectedSeats() > 0">
		<div data-bind="visible:NumberOfSelectedSeats() > 0" class="fa fa-2x ">
			<span class="modal-body">
				<span id="numberOfSeats" data-bind="text: NumberOfSelectedSeats()" class="label label-info"></span>  <span class="fa fa-tachometer"></span>
			</span>
			<span class="modal-body">
				<span data-bind="text: TotalPrice()" class="label label-info"></span>  <span class="fa fa-dollar"></span>
			</span>

		</div>

		<div data-bind="fadeVisible: NumberOfSelectedSeats() > 0" class="form-group pull-right">
			<button data-bind="visible:SelectedPaymentMethod() > 0,
					click: submit" type="button" class="btn btn-success fa fa-check pull-left" title="Create">
				Buy ticket
			</button>
			<div class="fixedInput pull-right">
				@Html.DropDownList("PaymentMethodId", (IEnumerable<SelectListItem>)ViewBag.PaymentMethods, "--Select payment method--", new { @class = "form-control inline" })
			</div>
		</div>
	</div>
</div>
<div data-bind="visible: IsProcessing" class="text-center">
	<span class="fa fa-refresh fa-spin fa-3x"></span>
</div>


<aside>
	@Html.ActionLink(" ", "Index", "Ticket", null, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to tickets" })
</aside>


@section Scripts {
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/knockout-app/Ticket/CustomBindings.js"></script>
	<script src="~/Scripts/knockout-app/Ticket/koModels.js"></script>
	<script src="~/Scripts/knockout-app/Ticket/app.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
} 

