@model FilmOverflow.WebUI.ViewModels.TicketViewModel

@{
	ViewBag.Title = "Buy Ticket";
}

<h2 class="text-center">
	@ViewBag.Title
</h2>


@{ Html.RenderAction("Details", "Seance", new { seanceId = ViewBag.SeanceId }); }
@Html.HiddenFor(model => model.SeanceId, new { data_id = ViewBag.SeanceId })

<div data-bind="foreach: Seats" class="hall col-md-offset-2">
	<span data-bind="css: { deselected: !$root.isSeatSelected($data), selected: $root.isSeatSelected($data), reserved: !$root.isSeatSelected($data) && $root.isSeatReserved($data)},
						click: $root.toogleSeatStatus,
						style:{top: $data.RowNumber()*39+'px', left: $data.ColumnNumber()*35+'px'}" class="seat fa fa-user fa-2x">

	</span>
</div>


<div class="well-lg" data-bind="visible:NumberOfSelectedSeats() > 0">
	<div data-bind="visible:NumberOfSelectedSeats() > 0" class="fa fa-2x ">
		<div class="modal-body">
			  <span id="numberOfSeats" data-bind="text: NumberOfSelectedSeats()" class="label label-info"></span>  <span class="fa fa-tachometer"></span>
		</div>
		<div class="modal-body">
			<span data-bind="text: TotalPrice()" class="label label-info"></span>  <span class="fa fa-dollar"></span>
		</div>

	</div>

	<div data-bind="fadeVisible: NumberOfSelectedSeats() > 0" class="form-group pull-right">	  
		<div class=" fixedInput">
			@Html.DropDownList("PaymentMethodId", (IEnumerable<SelectListItem>)ViewBag.PaymentMethods, "--Select payment method--", new { @class = "form-control" })
		</div><span class="fa fa-credit-card fa-2x"></span>
		<button data-bind="visible:SelectedPaymentMethod() > 0,
					click: submit" type="button" class="btn btn-success fa fa-check " title="Create"></button>
	</div>
</div>



<aside>
	@Html.ActionLink(" ", "Index", "Ticket", null, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to tickets" })
</aside>


@section Scripts {
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/knockout-app/Ticket/CustomBindings.js"></script>
	<script src="~/Scripts/knockout-app/Ticket/koModels.js"></script>
	<script src="~/Scripts/knockout-app/Ticket/app.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
}