@model IEnumerable<FilmOverflow.WebUI.ViewModels.TicketViewModel>

@{
	ViewBag.Title = "Tickets";
	Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<div class="well no-shadow">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">@ViewBag.Title</div>
		<div class="table-responsive">
			<table class="table table-bordered tab-content table-hover table-condensed">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Seance.Date)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Seance.Hall.Cinema)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.PaymentMethod)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Seance.Film)
						</th>
					</tr>
				</thead>
				
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Seance.Date @item.Seance.Time
						</td>
						<td>
							@item.Seance.Hall.Cinema.Name - @item.Seance.Hall.Name
						</td>
						<td>
							@item.PaymentMethod.Name
						</td>
						<td>
							@item.Seance.Film.Title
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>
