@model IEnumerable<FilmOverflow.WebUI.ViewModels.TicketViewModel>

@{
	ViewBag.Title = "Tickets";
	Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<div class="well">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">@ViewBag.Title</div>
		<div class="table-responsive">			
			<table class="table table-bordered tab-content table-hover table-condensed">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.PaymentDate)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Seance.Hall.Cinema)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PaymentMethod)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Seance.Film)
					</th>
				</tr>

				@foreach (var item in Model)
				{
					var cinemaName = item.Seance.Hall.Cinema.Name + " " + item.Seance.Hall.Name;
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.PaymentDate)
						</td>
						<td>
							@Html.Display(cinemaName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PaymentMethod.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Seance.Film.Title)
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>
