@model FilmOverflow.WebUI.ViewModels.Seance.SeanceViewModel

@{
	ViewBag.Title = "Seance Details";
}

<div class="well-lg clear">
	<h3 class="text-danger text-center margin-clear" id="seanceModalLabel">@ViewBag.Title</h3>
	<dl class="dl-horizontal medium-block pull-left">

		<dt class="text-info">
			@Html.DisplayNameFor(model => model.Date)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Date)
		</dd>

		<dt class="text-info">
			@Html.DisplayNameFor(model => model.Time)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Time)
		</dd>

		<dt class="text-info">
			@Html.DisplayNameFor(model => model.Price)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Price)
			@Html.HiddenFor(model => model.Price)
		</dd>

		<dt class="text-info">
			@Html.DisplayNameFor(x => x.Hall.Cinema) - @Html.DisplayNameFor(x => x.Hall)
		</dt>

		<dd>
			@Model.Hall.Cinema.Name - @Model.Hall.Name
		</dd>
		<dt class="text-warning">
			@Html.DisplayNameFor(x => x.Film)
		</dt>

		<dd>
			@Model.Film.Title
		</dd>
	</dl>  
	<span class="clear">
		<img src="@Model.Film.ImagePath" class="img-content pull-right" alt="No image" />
	</span>
</div>
