@model FilmOverflow.WebUI.ViewModels.Seance.SeanceViewModel

@{
	ViewBag.Title = "Seance Details";
}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 id="seanceModalLabel">@ViewBag.Title</h4>
</div>

<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(model => model.Date)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.Date)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.Time)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.Time)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.Price)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.Price)
		@Html.HiddenFor(model => model.Price)
	</dd>

	<dt>
		@Html.DisplayNameFor(x => x.Hall.Cinema) - @Html.DisplayNameFor(x => x.Hall)
	</dt>

	<dd>
		@Model.Hall.Cinema.Name - @Model.Hall.Name
	</dd>

	<dt>
		@Html.DisplayNameFor(x => x.Film)
	</dt>

	<dd>
		@Model.Film.Title
	</dd>
</dl>

<div class="modal-footer">
	<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
</div>
