@model IEnumerable<FilmOverflow.WebUI.ViewModels.SeanceViewModel>

@{
	ViewBag.Title = "Seance management";
}

<h1 class="text-center well well-lg">@ViewBag.Title</h1>

<div class="form-group pull-right">
	@Html.ActionLink(" ", "Create", "Seance", null, new { @class = "btn btn-success fa fa-plus" })
</div>

<div class="table-responsive">
	<table class="table tab-content table-hover table-condensed table-striped">
		<tr>
			<th>@Html.DisplayNameFor(x => x.SeanceDate)</th>
			<th>@Html.DisplayNameFor(x => x.Price)</th>
			<th></th>
		</tr>

		<tbody class="no-shadow">
			@foreach (var seance in Model)
			{
				<tr>
					<td>@seance.SeanceDate</td>
					<td>@seance.Price</td>
					<td>
						<div class="pull-right">
							@Html.ActionLink(" ", "Edit", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-default fa fa-pencil-square-o" })
							@Html.ActionLink(" ", "Details", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-info fa fa-info" })
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>