@model IEnumerable<FilmOverflow.WebUI.ViewModels.SeanceViewModel>

<div class="table-responsive">
	<table class="table tab-content table-hover table-condensed table-striped">
		<tr>
			<th>@Html.DisplayNameFor(x => x.Date)</th>
			<th>@Html.DisplayNameFor(x => x.Time)</th>
			<th>@Html.DisplayNameFor(x => x.Price)</th>
			<th>@Html.DisplayNameFor(x => x.Hall.Cinema) - @Html.DisplayNameFor(x => x.Hall)</th>
			<th></th>
		</tr>

		<tbody class="no-shadow">
			@foreach (var seance in Model)
			{
				<tr>
					<td>@seance.Date</td>
					<td>@seance.Time</td>
					<td>@seance.Price</td>
					<td>@seance.Hall.Cinema.Name - @seance.Hall.Name</td>
					<td>
						<div class="pull-right">
							@Html.ActionLink(" ", "Edit", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-default fa fa-pencil-square-o" })
							@Html.ActionLink(" ", "Details", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-info fa fa-info" })
							@Html.ActionLink(" ", "Delete", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-danger fa fa-trash-o" })
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
