@model IEnumerable<FilmOverflow.WebUI.ViewModels.SeanceViewModel>

<table class="table table-bordered tab-content table-hover table-condensed">
	<tr>
		<th>@Html.DisplayNameFor(x => x.Date)</th>
		<th>@Html.DisplayNameFor(x => x.Time)</th>
		<th>@Html.DisplayNameFor(x => x.Price)</th>
		<th>@Html.DisplayNameFor(x => x.Hall.Cinema) - @Html.DisplayNameFor(x => x.Hall)</th>
		<th>
			<div class="pull-right">
				@Html.ActionLink(" ", "Create", "Seance",
					routeValues: new { filmId = ViewBag.FilmId },
					htmlAttributes: new { @class = "btn btn-success fa fa-plus", data_modal = "" })
			</div>
		</th>
	</tr>
	@foreach (var seance in Model)
	{
		<tr>
			<td>@seance.Date</td>
			<td>@seance.Time</td>
			<td>@seance.Price.ToString("C")</td>
			<td>@seance.Hall.Cinema.Name - @seance.Hall.Name</td>
			<td>
				<div class="pull-right">
					@Html.ActionLink(" ", "Edit", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-default fa fa-pencil-square-o", data_modal = "" })
					@Html.ActionLink(" ", "Details", "Seance", new { seanceId = seance.Id, isCommon = false }, new { @class = "btn btn-info fa fa-info", data_modal = "" })
					@Html.ActionLink(" ", "Delete", "Seance", new { seanceId = seance.Id }, new { @class = "btn btn-danger fa fa-trash-o", data_modal = "" })
				</div>
			</td>
		</tr>
	}
</table>