@model FilmOverflow.WebUI.ViewModels.HallViewModel

@{
	ViewBag.Title = "Create Hall";
}

<h2 class="text-center">
	@ViewBag.Title
</h2>

<aside>
	@Html.ActionLink(" ", "Details", "Cinema", new { id = ViewBag.CinemaId }, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to hall create" })
</aside>

@Html.HiddenFor(model => model.CinemaId, new { data_id = ViewBag.CinemaId })


<div class="form-horizontal well well-lg clear">
	<button data-bind="click: createHallTemplate,
					 visible: isHallConfigured" type="button" class="btn btn-primary fa fa-magic" title="Generate hall"></button>

	<span data-bind="visible: HallTemplate().length > 0 && isHallConfigured" class="clear">
		<span class="pull-right fa fa-2x">
			Number of seats  <span data-bind="text: seatNumber" class="label label-info"></span>
		</span>
	</span>


	<div class="form-group">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input data-bind="value: Name" class="form-control" type="text" required />
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.RowAmount, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input data-bind="value: RowAmount" class="form-control" type="number" required />
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ColumnAmount, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<input data-bind="value: ColumnAmount" class="form-control" type="number" required />
		</div>
	</div>
	<button data-bind="click: addAllSeats,
					 visible: HallTemplate().length > 0 && isHallConfigured" type="button" class="btn btn-success fa fa-plus-square" title="Add all seats"></button>
	<button data-bind="click: removeAllSeats,
					 visible: HallTemplate().length > 0 && isHallConfigured" type="button" class="btn btn-danger fa fa-minus-square" title="Remove all seats"></button>
	<button data-bind="click: submit,
					 visible: Seats().length > 0 && isHallConfigured" type="button" class="btn btn-success fa fa-check pull-right" title="Create"></button>
</div>

<div data-bind="visible: IsProcessing" class="text-center">
	<span class="fa fa-refresh fa-spin fa-3x"></span>
</div>

	<div data-bind="foreach: HallTemplate,
				visible: isHallConfigured" class="hall">

		<span data-bind="css: { selected: $root.isSeatIncluded($data), deselected: !$root.isSeatIncluded($data)},
						click: $root.toogleSeatStatus,
						style:{top: $data.rowNumber()*25+'px', left: $data.columnNumber()*23+'px'}" class="seat fa fa-user"></span>
	</div>









@section Scripts {
	<script src="~/Scripts/knockout-app/Halls/koModels.js"></script>
	<script src="~/Scripts/knockout-app/Halls/app.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
}