@model FilmOverflow.WebUI.ViewModels.FilmViewModel

@{
	ViewBag.Title = "Film Details";
}

<aside>
	@Html.ActionLink(" ", "Index", "Home", null, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to films" })
</aside>

<div class="container">
	<h1 class="text-center well well-lg">@ViewBag.Title</h1>

	<div class=" well-lg">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3 col-lg-3 " align="center">
					<img src="@Model.ImagePath" class="img-responsive img-thumbnail" alt="No image" />
				</div>

				<div class=" col-md-9 col-lg-9 ">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td class="text-warning">@Html.DisplayNameFor(model => model.Title)</td>
								<td>@Html.DisplayFor(model => model.Title)</td>
							</tr>
							<tr>
								<td class="text-warning">@Html.DisplayNameFor(model => model.Duration)</td>
								<td>@Html.DisplayFor(model => model.Duration) min</td>
							</tr>
						</tbody>
					</table>
					<div class="col-md-12 no-shadow panel-body panel-footer">
						@Html.DisplayFor(model => model.Description)
					</div>
				</div>
			</div>
		</div>
		@Html.ActionLink("  Create review", "Create", "Review",
				new { filmId = Model.Id },
				new { @class = "btn btn-success fa fa-plus", data_modal = "" })

	</div>
	@if (Model.Reviews.Any())
	{
		Html.RenderAction("Index", "Review", new { filmId = Model.Id });
	}
	else
	{
		@: <h3 class="text-center text-info">No reviews</h3>
	}
</div>
