@model FilmOverflow.WebUI.ViewModels.CinemaViewModel

@{
	ViewBag.Title = "Details";
}

<div class="well well-lg">
	<article class="dl-horizontal">
		<h1 class="text-center text-warning">
			@Html.DisplayFor(model => model.Name)
		</h1>

		<h4>
			<label class="text-info">
				@Html.DisplayNameFor(model => model.Address)
			</label>
			@Html.DisplayFor(model => model.Address)
		</h4>
		<h4>
			<label class="text-info">
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</label>
			@Html.DisplayFor(model => model.PhoneNumber)
		</h4>
		<div>
			@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning fa fa-pencil-square-o", title = "Edit" })
			@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger fa fa-trash-o", title = "Delete" })
			@Html.ActionLink(" ", "Create", "Hall", new { id = Model.Id }, new { @class = "btn btn-success fa fa-cube", title = "Add hall" })
		</div>
		<img class="img-content big" src=@Model.ImagePath />
	</article>
	<div>
		@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-backward fa-2x", title = "Back to cinemas" })
	</div>
</div>

