@model IEnumerable<FilmOverflow.WebUI.ViewModels.CinemaViewModel>

@{
	ViewBag.Title = "Cinemas";
}

<h2 class="text-center">
	@ViewBag.Title
</h2>

<p>
	@Html.ActionLink(" ", "Create", null, new { @class = "btn btn-success fa fa-plus-square", title = "Add new cinema" })
</p>

<div class="clear">

	@foreach (var item in Model)
	{
		<article class="tile clear">
			<h2 class="text-center text-warning">
				@Html.DisplayFor(modelItem => item.Name)
			</h2>
			<p>
				<label class="text-info">
					@Html.DisplayNameFor(model => model.Address) 
				</label> 
				@Html.DisplayFor(modelItem => item.Address)
			</p>

			<img class="img-content pull-right" src=@item.ImagePath />

			<p>
				<label class="text-info">
					@Html.DisplayNameFor(model => model.PhoneNumber)
				</label> 
				@Html.DisplayFor(modelItem => item.PhoneNumber)
			</p>
			<div>
				@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-warning fa fa-pencil-square-o", title = "Edit" })
				@Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-primary fa fa-info", title = "Details" })
				@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash-o", title = "Delete" })
				@Html.ActionLink(" ", "Create", "Hall", new { id = item.Id }, new { @class = "btn btn-success fa fa-cube", title = "Add hall" })
			</div>
		</article>
	}
</div>