@model IEnumerable<FilmOverflow.WebUI.ViewModels.ApplicationUserViewModel>

@{
	var userManagerService = ViewBag.userManagerService;
	ViewBag.Title = "Admin section";
}

<h1 class="text-center">
	@if (User.IsInRole("Administrator"))
	{
		@:Current role - <span class="text-danger">Administrator</span>
	}
	else
	{
		@:Current role -<span class="text-danger"> Moderator</span>
	}
</h1>

<div class="panel panel-primary">
	<div class="panel-heading text-center">@ViewBag.Title</div>

	<div class="table-responsive">
		<table class="table table-bordered tab-content table-hover table-condensed">
			<thead>
				<tr class="info">
					<th>User name</th>
					<th>State</th>
					@if (User.IsInRole("Administrator"))
					{
						<th>Action</th>
					}
					<th>Role</th>
				</tr>
			</thead>

			@foreach (var item in Model)
			{
				<tr>
					@if (item.UserName != User.Identity.Name)
					{
						<td class="fixed-cell">
							@item.UserName

						</td>
						<td class="fixed-cell">
							@*You can ban if you are admin or if you are moderator and target is not admin or moderator*@
							@if (!userManagerService.IsInRole(item.Id, "Administrator")
								&& !userManagerService.IsInRole(item.Id, "Moderator")
								|| User.IsInRole("Administrator"))
							{
								if (!item.IsBanned)
								{
									@Ajax.ActionLink(" ", "ChangeUserAccess", "UserManipulation", new { name = item.UserName }, new AjaxOptions
									{
										UpdateTargetId = "UsersAndRoles",
										InsertionMode = InsertionMode.Replace,
										HttpMethod = "Post",
									}, new { @class = "btn btn-success fa fa-unlock" })
								}
								else
								{
									@Ajax.ActionLink(" ", "ChangeUserAccess", "UserManipulation", new { name = item.UserName }, new AjaxOptions
									{
										UpdateTargetId = "UsersAndRoles",
										InsertionMode = InsertionMode.Replace,
										HttpMethod = "Post",
									}, new { @class = "btn btn-default fa fa-lock" })
								}
							}
						</td>

						if (User.IsInRole("Administrator"))
						{
							<td class="fixed-cell">
								@if (!userManagerService.IsInRole(item.Id, "Moderator"))
								{
									@Ajax.ActionLink(" ", "SetToRole", "UserManipulation", new { name = item.UserName }, new AjaxOptions
									{
										UpdateTargetId = "UsersAndRoles",
										InsertionMode = InsertionMode.Replace,
										HttpMethod = "Post",
									}, new { @class = "btn btn-default fa fa-arrow-up" })
								}
								else
								{
									@Ajax.ActionLink(" ", "SetToRole", "UserManipulation", new { name = item.UserName }, new AjaxOptions
									{
										UpdateTargetId = "UsersAndRoles",
										InsertionMode = InsertionMode.Replace,
										HttpMethod = "Post",
									}, new { @class = "btn btn-success fa fa-arrow-down" })
								}
							</td>
						}
						<td class="fixed-cell">
							<div class="text-success">
								@foreach (var role in (userManagerService.GetRoles(item.Id)))
								{
									@role
								}
								@if (!userManagerService.IsInRole(item.Id, "Administrator") &&
									!userManagerService.IsInRole(item.Id, "Moderator"))
								{
									@:User
								}
							</div>
						</td>
					}
				</tr>
			}
		</table>
	</div>
</div>