@model IEnumerable<FilmOverflow.WebUI.ViewModels.FilmViewModel>

@{
	ViewBag.Title = "Film Management";
	Layout = "~/Views/UserManipulation/_UserManagementLayout.cshtml";
}

<div class="well">
	<div class="panel panel-primary no-shadow">
		<div class="panel-heading text-center">@ViewBag.Title</div>
		<div class="table-responsive">
			<table class="table table-bordered tab-content table-hover table-condensed">
				<tr>
					<th>@Html.DisplayNameFor(x => x.Title)</th>
					<th>@Html.DisplayNameFor(x => x.Duration)</th>
					<th>
						<div class="pull-right">
							@Html.ActionLink(" Add", "Create", "Film", null, new {@class = "btn btn-success fa fa-plus"})
						</div>
					</th>
				</tr>
				@foreach (var film in Model)
				{
					<tr>
						<td>@film.Title</td>
						<td>@film.Duration</td>
						<td>
							<div class="pull-right">
								@Html.ActionLink(" Edit", "Edit", "Film", new {filmId = film.Id}, new {@class = "btn btn-default fa fa-pencil-square-o"})
								@Html.ActionLink(" Details", "Details", "Film", new {filmId = film.Id}, new {@class = "btn btn-info fa fa-info"})
								@Html.ActionLink(" Delete", "Delete", "Film", new {filmId = film.Id}, new {@class = "btn btn-danger fa fa-trash-o"})
							</div>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>
