@model IEnumerable<FilmOverflow.WebUI.ViewModels.FilmViewModel>

@{
	ViewBag.Title = "Film management";
	Layout = "~/Views/UserManipulation/_UserManagementLayout.cshtml";
}

<h1 class="text-center well well-lg">@ViewBag.Title</h1>

<div class="form-group pull-right">
	@Html.ActionLink(" ", "Create", "Film", null, new { @class = "btn btn-success fa fa-plus" })
</div>

<div class="table-responsive">
	<table class="table tab-content table-hover table-condensed table-striped">
		<tr>
			<th>@Html.DisplayNameFor(x => x.Title)</th>
			<th>@Html.DisplayNameFor(x => x.Duration)</th>
			<th></th>
		</tr>

		<tbody class="no-shadow">
			@foreach (var film in Model)
			{
				<tr>
					<td>@film.Title</td>
					<td>@film.Duration</td>
					<td>
						<div class="pull-right">
							@Html.ActionLink(" ", "Edit", "Film", new { filmId = film.Id }, new { @class = "btn btn-default fa fa-pencil-square-o" })
							@Html.ActionLink(" ", "Details", "Film", new { filmId = film.Id }, new { @class = "btn btn-info fa fa-info" })
							@Html.ActionLink(" ", "Delete", "Film", new { filmId = film.Id }, new { @class = "btn btn-danger fa fa-trash-o" })
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>