@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>@Html.ActionLink(" User Account", "Summary", "Account", null, new {@class = "fa fa-user fa-lg"})</li>
			@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
			{
				<li>
					@Html.ActionLink(" Content management", "UserManagement", "UserManipulation", null, new {@class = "fa fa-exchange fa-lg"})
				</li>
			}
			<li>
				@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Summary", "Account", routeValues: null, htmlAttributes: new { title = "Summary" })
			</li>
			<li><a class="fa fa-sign-out fa-2x" title="Log off" href="javascript:document.getElementById('logoutForm').submit()"></a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink(" Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-user fa-lg", id = "registerLink"})</li>
		<li>@Html.ActionLink(" Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "fa fa-sign-in fa-lg", id = "loginLink"})</li>
	</ul>
}