
@{
	ViewBag.Title = "User Account";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="well well-lg text-center font-bordered">@ViewBag.Title</h1>
		</div>
		<div class="col-md-3">
			<ul class="well nav nav-pills nav-stacked small">
				<li @(ViewBag.Flag == 1 ? Html.Raw("class='active'") : Html.Raw(""))><a class="text-warning fa-lg" href="@Url.Action("Summary", "Account")"><i class="fa fa-home fa-2x fa-lg "></i> Summary</a></li>
				<li @(ViewBag.Flag == 2 ? Html.Raw("class='active'") : Html.Raw(""))><a class="text-warning fa-lg" href="@Url.Action("Index", "Ticket")"><i class="fa fa-ticket fa-2x fa-lg"></i> Tickets</a></li>
				<li @(ViewBag.Flag == 3 ? Html.Raw("class='active'") : Html.Raw(""))><a class="text-warning fa-lg" href="@Url.Action("Manage", "Account")"><i class="fa fa-lock fa-2x fa-lg"></i> Change Password</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
</div>

@RenderSection("scripts", required: false)