@model FilmOverflow.WebUI.ViewModels.ApplicationUserViewModel

@{
	ViewBag.Title = "Summary";
	Layout = "~/Views/Account/_AccountLayout.cshtml";
	ViewBag.Flag = 1;
}

<div class="fa-lg well-lg">
	<h2 >@ViewBag.Title</h2>

	<p class="block text-warning">
		@Html.DisplayNameFor(model => model.FirstName) -
		@Html.DisplayFor(model => model.FirstName)
	</p>
	<p class="block text-warning">
		@Html.DisplayNameFor(model => model.LastName) -
		@Html.DisplayFor(model => model.LastName)
	</p>
	<p class="block text-warning">
		@Html.DisplayNameFor(model => model.Email) -
		@Html.DisplayFor(model => model.Email)
	</p>
	<p class="block text-warning">
		@Html.DisplayNameFor(model => model.PhoneNumber) -
		@Html.DisplayFor(model => model.PhoneNumber)
	</p>
</div>